.navbar * {
  color: white !important;
}

.navbar-toggler {
  border-color: white !important;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path stroke="%23FFFFFF" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/></svg>') !important;
}

.dropdown-menu li a {
  transition: all .3s;
}

.dropdown-menu li a:hover {
  background-color: rgb(115, 115, 115) !important;
}